{# 在文件顶部加载 navigation_tags: #}
{% load navigation_tags %}


<footer>
    <p>Built with Wagtail</p>

    {% with linkedin_url=settings.base.NavigationSettings.linkedin_url github_url=settings.base.NavigationSettings.github_url mastodon_url=settings.base.NavigationSettings.mastodon_url %}
        {% if linkedin_url or github_url or mastodon_url %}
            <p>
                Follow me on:
                {% if github_url %} <!-- This is a github链接 -->
                    <a href="{{ github_url }}">GitHub</a>
                {% endif %}
                {% if linkedin_url %} <!-- This is a linkedin链接 -->
                    <a href="{{ linkedin_url }}">LinkedIn</a>
                {% endif %}
                {% if mastodon_url %}<!-- This is a mastodon链接 -->
                    <a href="{{ mastodon_url }}">Mastodon</a>
                {% endif %}
            </p>
        {% endif %}
    {% endwith %}

    {# Add 页脚文本: get_footer_text 标签使用 base/includes/footer_text.html 模板来渲染其输出 #}
    {% get_footer_text %}
</footer>