{% load wagtailcore_tags navigation_tags wagtailuserbar %} <!-- 加载 Wagtail 核心标签库和导航标签库 -->

<header>

    <!--添加了 <a> (anchor) 元素来创建 “跳至内容” 链接。您将 href 属性设置为 #main 。内部锚点链接到基本模板的 main 元素。-->
    <a href="#main" class="skip-link">跳至主要内容</a>

    {% get_site_root as site_root %} <!-- 获取站点根页面并赋值给 site_root 变量 -->
    <nav>
        <p>
        <!-- 使用 pageurl 模板标记并以 site_root 作为参数来创建指向您主页的链接。它会生成指向您主页的链接，标签为 Home ，后跟竖线符号 | ，用于分隔菜单项。-->
        <a href="{% pageurl site_root %}">Home</a> | <!-- 链接到站点根页面 -->

        {% for menuitem in site_root.get_children.live.in_menu %} <!-- 遍历站点根页面的子页面，筛选出在菜单中显示的页面 -->
            <!-- 链接到每个子页面并显示其标题 -->
            <!-- forloop.last 是 Django 模板中的一个内置变量，用于检查当前循环是否是最后一个循环。 -->
           <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>{% if not forloop.last %} | {% endif %}
        {% endfor %}

        {#  显示搜索图标 #}
        | <a href="/search/">Search</a>
        </p>
    </nav>

    {# WagtailUserBar，它会在 Wagtail 管理后台的页面上显示一个浮动的工具栏，只对登录的管理员或有权限的用户显示。 #}
    {% wagtailuserbar "top-right" %}
</header>