{% extends 'base.html' %}

{% block title %}
    博客首页
{% endblock %}


{% block content %}

    <main class="row content__page">

                <section class="column large-full entry format-standard">

                    <div class="media-wrap">
                        <div>
                            <img src="{{ url_for('static',filename='images/thumbs/about/about-1000.jpg') }}" srcset="{{ url_for('static',filename='images/thumbs/about/about-2000.jpg') }} 2000w,
                                      {{ url_for('static',filename='images/thumbs/about/about-1000.jpg') }} 1000w,
                                     {{ url_for('static',filename='images/thumbs/about/about-500.jpg') }} 500w" sizes="(max-width: 2000px) 100vw, 2000px" alt="">
                        </div>
                    </div>

                    <div class="content__page-header">
                        <h1 class="display-1">
                        你好, 我的个人简介
                        </h1>
                    </div> <!-- end content__page-header -->

                    <p class="lead drop-cap">
                        {{ user.userinfo.content | safe }}
                    </p>



                </section>

            </main>



{%  endblock %}