{% extends 'base.html' %}
{% block title %}
    登录页面
{% endblock %}

{% block content %}
<main class="row content__page">
    <section class="column large-full entry format-standard">
        <h2>登录页面</h2>

        <!-- 登录方式选择 -->
        <div class="login-method-selector">
            <button class="btn--primary" id="username-login-btn">用户名密码登录</button>
            <button class="btn--primary" id="phone-login-btn">手机验证码登录</button>
        </div>

        <!-- 登录表单容器 -->
        <div id="login-form-container">
            <!-- 初始加载用户名密码登录表单 -->
            {% if form %}
            <form id="login-form" action="{{ url_for('user.login', type=request.args.get('type')) }}" method="post">
                {{ form.hidden_tag() }}   <!-- 包含 CSRF 令牌 -->
                {% if form.__class__.__name__ == 'UsernamePasswordLoginForm' %}
                    <div>
                        {{ form.username.label }}
                        {{ form.username(class="full-width", placeholder="用户名",id="InputUsername") }}
                        <span></span>
                        {% for error in form.username.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.password.label }}
                        {{ form.password(class="full-width",id="InputPassword", placeholder="密码") }}
                        <span></span>
                        {% for error in form.password.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.submit(class="btn--primary full-width") }}
                    </div>
                {% elif form.__class__.__name__ == 'PhoneCodeLoginForm' %}
                    <div class="form-group">
                        {{ form.phone.label }}
                        {{ form.phone(class="full-width", placeholder="请输入手机号", id="InputPhone") }}
                        <span id="error_phone" class="error"></span>
                        {% for error in form.phone.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.sms_provider.label }}
                        {{ form.sms_provider(class="full-width") }}
                        {% for error in form.sms_provider.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group phone-code-input">
                        {{ form.code.label }}
                        {{ form.code(class="full-width", placeholder="请输入验证码",id="InputCode") }}
                        <button type="button" class="btn--primary" id="send-code-btn">发送验证码</button>
                        <span id="error_code" class="error"></span>
                        {% for error in form.code.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn--primary full-width") }}
                    </div>
                {% endif %}
            </form>
            {% else %}
            <p>请选择登录方式</p>
            {% endif %}
        </div>

        {# 错误提示 #}
        {% if error_login_msg %}
            <div class="alert-box alert-box--error hideit">
                {{ error_login_msg }}。
                <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
            </div><!-- end error -->
        {% endif %}
    </section>
</main>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script>
        $(document).ready(function() {
            // 选择登录方式
            $('#username-login-btn').click(function() {
                window.location.href = "{{ url_for('user.login', type='username') }}";
            });

            $('#phone-login-btn').click(function() {
                window.location.href = "{{ url_for('user.login', type='phone') }}";
            });

            // 发送验证码按钮的逻辑
            $('#send-code-btn').click(function() {
                sendVerificationCode();
            });

            // 加载登录表单
            function loadLoginForm(type) {
                $.ajax({
                    url: "{{ url_for('user.login') }}",
                    type: 'GET',
                    data: { type: type },
                    success: function(response) {
                        $('#login-form-container').html(response);
                    },
                    error: function(xhr, status, error) {
                        alert('加载表单失败: ' + error);
                    }
                });
            }

            // 发送验证码的逻辑
            function sendVerificationCode() {
                let phone = $('#InputPhone').val();
                let sms_provider = $('#sms_provider').val();
                let phone_error = $('#InputPhone').next('.error');

                // 清空之前的错误信息
                phone_error.text('');

                $.ajax({
                    url: "{{ url_for('user.sendmsg') }}",
                    type: 'POST',
                    data: {
                        phone: phone,
                        sms_provider: sms_provider
                    },
                    success: function(response) {
                        if (response.status == 200) {
                            alert('验证码发送成功');
                            startCountdown();
                        } else {
                            alert('验证码发送失败: ' + response.sms_status);
                        }
                    },
                    error: function(xhr, status, error) {
                        let errorMessage = '验证码发送失败: ';
                        if (xhr.responseJSON && xhr.responseJSON.sms_status) {
                            errorMessage += xhr.responseJSON.sms_status;
                        } else {
                            errorMessage += error;
                        }
                        alert(errorMessage);
                    }
                });
            }
        });


        // 显示错误信息
        function displayErrors(errors) {
            for (let field in errors) {
                let errorMessages = errors[field];
                let errorSpan = $(`#${field}`).next('.error');
                errorSpan.text(errorMessages.join(', '));
            }
        }

        // 检查用户名和密码是否为空
        $('#InputUsername').blur(function() {
            let isUsernameValid=checkEmptyInput('#InputUsername', 'span','用户名不能为空');
        });

        // 检查密码是否为空
        $('#InputPassword').blur(function() {
            let isPasswordValid=checkEmptyInput('#InputPassword', 'span','密码不能为空');
        });

        // 检查手机号码格式
        $('#InputPhone').blur(function() {
            let isPhoneValid=checkPhoneFormat('#InputPhone', 'span');
        });

        // 检查验证码格式
        $('#InputCode').blur(function() {
            let isCodeValid=checkCodeFormat('#InputCode', '#error_code');
        });
    </script>
{% endblock %}
