{% extends 'base.html' %}
{% block title %}
    用户注册
{% endblock %}

{% block content %}
<main class="row content__page">
    <section class="column large-full entry format-standard">
        <h2>用户注册</h2>
        <!-- 显示消息闪现 -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert-box alert-box--{{ category }} hideit">
                            {{ message }}
                            <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('user.register') }}" method="post">
            {{ form.hidden_tag() }}
            <div>
                <label for="inputUsername">用户名：</label>
                {{ form.username(class="full-width", id="inputUsername", placeholder="用户名") }}
                 <span></span>
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="inputPassword">密码：</label>
                {{ form.password(class="full-width", id="inputPassword", placeholder="密码") }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="inputRepassword">确认密码：</label>
                {{ form.re_password(class="full-width", id="inputRepassword", placeholder="确认密码") }}
                {% for error in form.re_password.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="inputPhone">手机号码：</label>
                {{ form.phone(class="full-width", id="inputPhone", placeholder="手机号码") }}
                <span></span>
                {% for error in form.phone.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                <label for="inputEmail">邮箱：</label>
                {{ form.email(class="full-width", id="inputEmail", placeholder="邮箱") }}
                <span></span>
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn--primary full-width") }}
        </form>
    </section>
</main>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script>
        $(document).ready(function() {
            // 检查用户名是否可用
            $('#inputUsername').blur(function () {
                let username = $(this).val();
                let username_error = $(this).next('span');
                let isUsernameValid=checkEmptyInput('#inputUsername','span','用户名不能为空');
                if (isUsernameValid) {
                    $.get('{{ url_for('user.check_username') }}', {username: username}, function (data) {
                        if (!data.exists) {
                            username_error.css({'color': 'red', 'font-size': '10px'});
                            username_error.text(data.error_msg);
                        } else {
                            username_error.css({'color': 'green', 'font-size': '10px'});
                            username_error.text('用户名可用');
                        }
                    });
                }
            });

            // 检查邮箱是否可用
            $('#inputEmail').blur(function() {
                let email = $(this).val();
                let email_error = $(this).next('span');
                let isEmailValid=checkEmailFormat('#inputEmail','span');
                if (isEmailValid){
                    $.get('{{ url_for('user.check_email') }}', { email: email }, function(data) {
                        if (!data.exists) {
                                email_error.css({ 'color': 'red', 'font-size': '10px' });
                                email_error.text(data.error_msg);
                            } else {
                                email_error.css({ 'color': 'green', 'font-size': '10px' });
                                email_error.text('邮箱可用');
                            }
                    });
                }
            });

            // 检查手机号是否可用
            $('#inputPhone').blur(function() {
                let phone = $(this).val();
                let phone_error = $(this).next('span');
                let isPhoneValid=checkPhoneFormat('#inputPhone','span');
                if (isPhoneValid){
                    $.get('{{ url_for('user.check_phone') }}', { phone: phone }, function(data) {
                            if (!data.exists) {
                                phone_error.css({ 'color': 'red', 'font-size': '10px' });
                                phone_error.text(data.error_msg);
                            } else {
                                phone_error.css({ 'color': 'green', 'font-size': '10px' });
                                phone_error.text('手机号码可用');
                            }
                    });
                }
            });

        });
    </script>
{% endblock %}
