{% extends 'base.html' %}
{% block title %}
    重置密码
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
<main class="row content__page">
    <section class="column large-full entry format-standard">
        <h2>用户密码重置</h2>
        <form action="{{ url_for('user.reset_password') }}" method="post" enctype="multipart/form-data">
            <div>
                {{ restform.csrf_token }}
            </div>
            <div>
                <label for="username">用户名：</label>
                <input class="full-width" id="username" type="text" value="{{ user.username }}" readonly>
            </div>
            <div>
                {{ restform.old_password.label(for="sampleInput") }}
                {{ restform.old_password(class="full-width") }}
                {% if restform.old_password.errors %}
                    <span style="color: red">{{ restform.old_password.errors[0] }}</span>
                {% endif %}
            </div>
            <div>
                {{ restform.new_password.label(for="sampleInput") }}
                {{ restform.new_password(class="full-width") }}
                {% if restform.new_password.errors %}
                    <span style="color: red">{{ restform.new_password.errors[0] }}</span>
                {% endif %}
            </div>
            <div>
                {{ restform.reset_password.label(for="sampleInput") }}
                {{ restform.reset_password(class="full-width") }}
                {% if restform.reset_password.errors %}
                    <span style="color: red">{{ restform.reset_password.errors[0] }}</span>
                {% endif %}
            </div>
            <div>
                {{ restform.recaptcha.label(for="sampleInput") }}
                <img src="" alt="" id="img">
                {{ restform.recaptcha }}
                {% if restform.recaptcha.errors %}
                    <span style="color: red">{{ restform.recaptcha.errors[0] }}</span>
                {% endif %}
            </div>
            <div>
                <input class="btn--primary full-width" type="submit" value="提交">
            </div>
        </form>
        {# 错误提示 #}
        {% if reset_error_msg %}
            <div class="alert-box alert-box--error hideit">
                {{ reset_error_msg }}。
                <i class="fa fa-times alert-box__close" aria-hidden="true"></i>
            </div><!-- end error -->
        {% endif %}
    </section>
</main>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
    <script>
        function refreshCaptcha() {
            console.log('-------');
            // 通过点击图片，重新获取验证码，attr() 方法设置或返回被选元素的属性值。
            $('#img').attr('src', "{{ url_for('user.image_code') }}?ran=" + Math.random());
        }

        // 页面加载时触发验证码图片的生成
        $(document).ready(function() {
            refreshCaptcha();
        });

        // 点击图片时重新生成验证码
        $('#img').click(function () {
            refreshCaptcha();
        });
    </script>
{% endblock %}
