
{% load wagtailcore_tags %} <!-- 加载 Wagtail 核心标签库 -->

<div>
    <h2>{{ self.heading }}</h2> <!-- 显示区块标题 -->
    {% if self.text %}
        <p>{{ self.text|richtext }}</p> <!-- 如果存在文本，显示文本内容，支持富文本格式 -->
    {% endif %}

    <div class="grid">
        {% for page in self.posts %}
            <div class="card">
                <p><a href="{% pageurl page %}">{{ page.title }}</a></p> <!-- 显示文章标题，链接到文章页面 -->
                <p>{{ page.specific.date }}</p> <!-- 显示文章日期 -->
            </div>
        {% endfor %}
    </div>
</div>
