{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static blog_tags comment_tags %}
{% block title %}{{ page.title }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/markdown-theme.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/rich-text-theme.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/katex/katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/lightbox/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/jquery-ui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/image_blocks.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/video_blocks.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/audio_blocks.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/embed_blocks.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/table_blocks.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/mermaid_block.css' %}">
    <link rel="stylesheet" href="{% static 'comments/css/comments.css' %}">
    {{ block.super }}

    {# 禁用主题自带的 mCustomScrollbar #}
    {% block custom_scrollbar_assets_js %}{% endblock custom_scrollbar_assets_js %}
{% endblock %}

{% block content %}
<div class="blog-page-wrapper">
    <section class="blog-hero">
        {% if page.featured_image %}
            {% image page.featured_image original class="blog-featured-image" %}
        {% endif %}
        <div class="blog-container hero-container">
            <div class="blog-hero-content">
                <h1 class="blog-title">{{ page.title }}</h1>
                {% if page.intro %}
                    <div class="blog-intro">{{ page.intro|richtext }}</div>
                {% endif %}
                <div class="blog-meta">
                    {% if page.authors.all %}
                        <div class="blog-meta-item">
                            <i class="fa fa-user"></i>
                            <span>
                                {% for author in page.authors.all %}
                                    {{ author.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    {% endif %}
                    <div class="blog-meta-item">
                        <i class="fa fa-calendar"></i>
                        <span>{{ page.date|date:"Y年m月d日" }}</span>
                    </div>
                    <div class="blog-meta-item">
                        <i class="fa fa-eye"></i>
                        <span>{{ page.get_view_count.total }} 次浏览</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="blog-container full-width-container">

        <div id="zen-trigger-left" class="zen-trigger left" title="显示目录">
            <i class="fa fa-angle-right"></i>
        </div>

        <div class="blog-layout-container" id="blog-layout-container">

            <aside class="blog-sidebar-left" id="sidebar-left">
                <div class="sidebar-toggle-wrapper left">
                    <button id="btn-hide-left" class="btn-sidebar-toggle" title="隐藏目录">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </div>

                <div class="toc-wrapper">
                    <div class="toc-header">
                        <i class="fa fa-list-ol"></i> 目录
                    </div>
                    <div id="toc-content" class="toc-content"></div>
                </div>
            </aside>

            <main class="blog-center-column">
                <div id="article-scroll-container" class="article-scroll-container">
                    <div class="article-body-content">
                        <div class="content-blocks">
                            {% for block in page.body %}
                                <div class="content-block-wrapper" data-block-type="{{ block.block_type }}">
                                    {% include_block block %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="mobile-interactions-placeholder"></div>
            </main>

            <aside class="blog-sidebar-right" id="sidebar-right">
                <div class="sidebar-toggle-wrapper right">
                    <button id="btn-hide-right" class="btn-sidebar-toggle" title="隐藏侧栏">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </div>

                <div class="sidebar-scroll-area">
                    <div class="sidebar-widget reaction-widget">
                        <div class="widget-title">文章反应</div>
                        {% include 'blog/reactions_block.html' %}
                    </div>

                    {% with related_posts=page.get_related_posts_by_tags %}
                        {% if related_posts %}
                            <div class="sidebar-widget related-widget">
                                <div class="widget-title">相关推荐</div>
                                <div class="related-list">
                                    {% for post in related_posts %}
                                        <a href="{{ post.url }}" class="related-item-small">
                                            <div class="related-thumb">
                                                {% if post.featured_image %}
                                                    {% image post.featured_image fill-60x60 crop="center" %}
                                                {% else %}
                                                    <div class="no-image"><i class="fa fa-file-text"></i></div>
                                                {% endif %}
                                            </div>
                                            <div class="related-info">
                                                <h5>{{ post.title }}</h5>
                                                <span class="date">{{ post.date|date:"m-d" }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}

                    {% with prev_post=page.get_prev_post next_post=page.get_next_post %}
                        {% if prev_post or next_post %}
                            <div class="sidebar-widget nav-widget">
                                {% if prev_post %}
                                    <a href="{{ prev_post.url }}" class="nav-btn prev">
                                        <span class="label"><i class="fa fa-angle-left"></i> 上一篇</span>
                                        <span class="title">{{ prev_post.title }}</span>
                                    </a>
                                {% endif %}
                                {% if next_post %}
                                    <a href="{{ next_post.url }}" class="nav-btn next">
                                        <span class="label">下一篇 <i class="fa fa-angle-right"></i></span>
                                        <span class="title">{{ next_post.title }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>
            </aside>
        </div>

        <div id="zen-trigger-right" class="zen-trigger right" title="显示侧栏">
            <i class="fa fa-angle-left"></i>
        </div>

        {% if page.gallery_images.all %}
            <div class="blog-gallery">
                <h4><i class="fa fa-images"></i> 图片画廊</h4>
                <div class="gallery-grid">
                    {% for gallery_image in page.gallery_images.all %}
                        <div class="gallery-item">
                            <a href="{% image_url gallery_image.image 'original' %}" data-lightbox="gallery" data-title="{{ gallery_image.caption }}">
                                {% image gallery_image.image width-400 %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="blog-comments-section">
            {% render_comments page %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'blog/js/blog_page.js' %}" async></script>
    <script src="{% static 'blog/css/katex/katex.js' %}" async></script>
    <script src="{% static 'blog/js/katex/auto-render.min.js' %}" async></script>
    <script src="{% static 'blog/js/lightbox/lightbox.js' %}" async></script>
    <script src="{% static 'blog/js/jquery-ui/jquery-ui.js' %}" async></script>
    <script src="{% static 'blog/js/mermaid_block.js' %}" async></script>
    <script src="{% static 'blog/js/image_blocks.js' %}" async></script>
    <script src="{% static 'blog/js/video_blocks.js' %}" async></script>
    <script src="{% static 'blog/js/editor-enhancements.js' %}" async></script>
    <script src="{% static 'comments/js/comments.js' %}" defer></script>
{% endblock %}