{% extends 'base.html' %}
{% block title %}
    {{ good.name }}被用户购买的列表
{% endblock %}

{% block middle %}
{% if error_message %}
    <div class="alert alert-danger" role="alert">">
        {{ error_message }}
    </div>
{% else %}
      <div style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2>商品名：{{ good.name }}</h2>
        <p>购买此商品的用户有：</p>
        <ul style="list-style-type: none; padding: 0;">
            {% for user in good.users %}
            <li style="margin: 10px 0;">
                <a href="# " style="color: #333; text-decoration: none; font-weight: bold;">{{ user.username }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}
